<a class="square-tile" href="/stock-information/stock-quote-chart" data-tile-columns="1" data-test-idx="1" style="height: 370px;">
  <div class="layout">
    <div class="img" style="background-color: #ff00ff;">
    <div class="cover"></div>
    <h6 class="h-6-stock" style="text-color:#ffffff;">Stock Price</h6>
    <div class="region region-stock-graph">
      <div class="stock-block-wrapper">
        <div class="quote-wrap">
          <div class="quote-wrap">
            <div class="quote-wrapper">
              <div class="stock-quote" data-exchange="{{ symbol }}">
                <dd>
                <div class="quote-price">${{ price }}</div>
                </dd>
                <dt>
                  <div class="exchange">Symbol: {{ symbol }}
                    <br>
                    {{ change }}
                  </div>
                  </dt>
                <div class="small">
                  {{ "now"|date("m/d/Y") }}
                  <br>
                  Copyright Nasdaq. Minimum 15 minutes delayed.
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <h5 class="h-5-stock">Stock Quote &amp; Chart</h5>
  </div>
</a>
